In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tqdm import tqdm
import os

import seaborn as sns
import warnings

from keras.models import Sequential
from keras.layers import LSTM
from keras.layers.core import Dense, Dropout
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score
from sklearn.metrics import confusion_matrix, classification_report
from keras.models import load_model
warnings.filterwarnings("ignore")

Using TensorFlow backend.

In [19]:
print (os.listdir())

['.ipynb_checkpoints', 'kaggleSolution.ipynb', 'test', 'train', 'Untitled.ipynb']

In [2]:
folders = os.listdir(path='train/')
print (folders)

for folder in folders:
    print ("Folder:", folder)
    print (os.listdir('train/'+folder+'/'+ os.listdir('train/'+folder)[0]))

['phone', 'watch']
Folder: phone
['data_1600_accel_phone.txt', 'data_1601_accel_phone.txt', 'data_1602_accel_phone.txt', 'data_1603_accel_phone.txt', 'data_1604_accel_phone.txt', 'data_1605_accel_phone.txt', 'data_1606_accel_phone.txt', 'data_1607_accel_phone.txt', 'data_1608_accel_phone.txt', 'data_1609_accel_phone.txt', 'data_1610_accel_phone.txt', 'data_1611_accel_phone.txt', 'data_1612_accel_phone.txt', 'data_1613_accel_phone.txt', 'data_1614_accel_phone.txt', 'data_1615_accel_phone.txt', 'data_1616_accel_phone.txt', 'data_1617_accel_phone.txt', 'data_1618_accel_phone.txt', 'data_1619_accel_phone.txt']
Folder: watch
['data_1600_accel_watch.txt', 'data_1601_accel_watch.txt', 'data_1602_accel_watch.txt', 'data_1603_accel_watch.txt', 'data_1604_accel_watch.txt', 'data_1605_accel_watch.txt', 'data_1606_accel_watch.txt', 'data_1607_accel_watch.txt', 'data_1608_accel_watch.txt', 'data_1609_accel_watch.txt', 'data_1610_accel_watch.txt', 'data_1611_accel_watch.txt', 'data_1612_accel_watch.txt', 'data_1613_accel_watch.txt', 'data_1614_accel_watch.txt', 'data_1615_accel_watch.txt', 'data_1616_accel_watch.txt', 'data_1617_accel_watch.txt', 'data_1618_accel_watch.txt', 'data_1619_accel_watch.txt']

In [3]:
folders = os.listdir(path='test/')
print (folders)

for folder in folders:
    print ("Folder:", folder)
    print (os.listdir('test/'+folder+'/'+ os.listdir('test/'+folder)[0]))

['phone', 'watch']
Folder: phone
['data_1620_accel_phone.txt', 'data_1621_accel_phone.txt', 'data_1622_accel_phone.txt', 'data_1623_accel_phone.txt', 'data_1624_accel_phone.txt', 'data_1625_accel_phone.txt', 'data_1626_accel_phone.txt', 'data_1627_accel_phone.txt', 'data_1628_accel_phone.txt', 'data_1629_accel_phone.txt', 'data_1630_accel_phone.txt', 'data_1631_accel_phone.txt', 'data_1632_accel_phone.txt', 'data_1633_accel_phone.txt']
Folder: watch
['data_1620_accel_watch.txt', 'data_1621_accel_watch.txt', 'data_1622_accel_watch.txt', 'data_1623_accel_watch.txt', 'data_1624_accel_watch.txt', 'data_1625_accel_watch.txt', 'data_1626_accel_watch.txt', 'data_1627_accel_watch.txt', 'data_1628_accel_watch.txt', 'data_1629_accel_watch.txt', 'data_1630_accel_watch.txt', 'data_1631_accel_watch.txt', 'data_1632_accel_watch.txt', 'data_1633_accel_watch.txt']

In [98]:
path1 = 'train/phone/gyro/data_1604_gyro_phone.txt'
phoe1 = pd.read_csv(path1, header=None, sep=',')
phoe1[5] = pd.to_numeric(phoe1[5].map(lambda x: re.sub(r';', '', x)))
#print (phoe1[1].value_counts())
phoe1.head()

      0  1               2         3         4         5
0  1604  A  18347383125225  0.193329 -0.312271 -2.296997
1  1604  A  18347433479229  0.390152 -0.134903 -2.306259
2  1604  A  18347483833233 -0.219711  0.630310 -0.545273
3  1604  A  18347534187237 -1.421829  1.055924  1.050903
4  1604  A  18347584541241 -1.021271  0.568024  1.088089

In [100]:
phoe1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64243 entries, 0 to 64242
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       64243 non-null  int64
 1   1       64243 non-null  object
 2   2       64243 non-null  int64
 3   3       64243 non-null  float64
 4   4       64243 non-null  float64
 5   5       64243 non-null  float64
dtypes: float64(3), int64(2), object(1)
memory usage: 2.9+ MB

In [45]:
path1 = 'train/watch/gyro/data_1600_gyro_watch.txt'
phoe1 = pd.read_csv(path1, header=None )
print (phoe1[1].value_counts())
phoe1

S    4175
C    3604
F    3604
D    3604
E    3604
K    3604
B    3604
I    3604
Q    3604
R    3604
O    3603
G    3603
L    3603
P    3603
J    3603
M    3603
H    3603
A    3603
Name: 1, dtype: int64

          0  1               2         3         4               5
0      1600  A  90426757696641  0.314944 -1.022277     -0.3099616;
1      1600  A  90426807196641  0.387382 -0.618541   -0.048971802;
2      1600  A  90426856696641  0.070999 -0.209480     -0.1959783;
3      1600  A  90426906196641  0.037975  0.254976     -0.1565635;
4      1600  A  90426955696641  0.073129  0.719431  -0.0010349044;
...     ... ..             ...       ...       ...             ...
65430  1600  S  82724282947172  1.561949  1.489680    -0.29302707;
65431  1600  S  82724332877212  0.464727  2.014856    -0.30687553;
65432  1600  S  82724382807252  0.862081  2.303537     -0.5966264;
65433  1600  S  82724432737292  0.086569  2.057461     -0.9311194;
65434  1600  S  82724482667332  2.030676  0.553307    -0.29515654;

[65435 rows x 6 columns]

In [47]:
path1 = 'train/watch/accel/data_1600_accel_watch.txt'
phoe1 = pd.read_csv(path1, header=None)
print (phoe1[1].value_counts())
phoe1

S    4176
D    3606
K    3606
C    3605
Q    3605
O    3605
I    3605
F    3605
P    3605
R    3605
L    3605
J    3605
M    3605
H    3605
B    3605
E    3605
A    3605
G    3604
Name: 1, dtype: int64

          0  1               2         3         4            5
0      1600  A  90426708196641  7.091625 -0.591667    8.195502;
1      1600  A  90426757696641  4.972757 -0.158317   6.6967316;
2      1600  A  90426807196641  3.253720 -0.191835    6.107758;
3      1600  A  90426856696641  2.801216 -0.155922    5.997625;
4      1600  A  90426906196641  3.770868 -1.051354    7.731027;
...     ... ..             ...       ...       ...          ...
65457  1600  S  82724332877212  3.271527 -7.406313  -1.8637364;
65458  1600  S  82724382807252  4.720019 -5.680094   -5.270685;
65459  1600  S  82724432737292  8.126968 -8.143727   -5.076755;
65460  1600  S  82724482667332  7.542783 -8.885930  -3.6306572;
65461  1600  S  82724532597372  8.596231 -5.617845  -3.6976948;

[65462 rows x 6 columns]

In [36]:
a = phoe1.loc[(phoe1[1]=='A')]

a

         0  1               2         3         4               5
0     1600  A  90426757696641  0.314944 -1.022277     -0.3099616;
1     1600  A  90426807196641  0.387382 -0.618541   -0.048971802;
2     1600  A  90426856696641  0.070999 -0.209480     -0.1959783;
3     1600  A  90426906196641  0.037975  0.254976     -0.1565635;
4     1600  A  90426955696641  0.073129  0.719431  -0.0010349044;
...    ... ..             ...       ...       ...             ...
3598  1600  A  90606307556681  1.656970 -1.339567      3.4525092;
3599  1600  A  90606357482081  1.307563 -1.838111       2.433051;
3600  1600  A  90606407407481  1.996789 -1.512140      1.5052059;
3601  1600  A  90606457332881  2.001051 -0.521444      0.9065272;
3602  1600  A  90606507258281  0.769605  0.470317      0.6029269;

[3603 rows x 6 columns]

In [39]:
a = phoe1.loc[(phoe1[1]=='B')]
a

         0  1               2         3         4             5
3603  1600  B  90206634269434  1.474375  2.161206    -3.551682;
3604  1600  B  90206683769434 -0.820205  2.115400   -4.2792573;
3605  1600  B  90206733269434 -0.276920  1.225904   -0.7681459;
3606  1600  B  90206782769434  1.989963  0.423760  -0.29090747;
3607  1600  B  90206832269434  2.147622  0.233078  0.080869816;
...    ... ..             ...       ...       ...           ...
7202  1600  B  90386243916744  1.983921  0.738823    2.2647262;
7203  1600  B  90386293841774  0.152731 -0.489427    1.1952006;
7204  1600  B  90386343766804 -0.063518 -0.525646   0.90012234;
7205  1600  B  90386393691834  0.596946 -0.045211    0.8319454;
7206  1600  B  90386443616864  1.148753 -0.243351  -0.47406876;

[3604 rows x 6 columns]

In [40]:
path1 = 'test/watch/gyro/data_1622_gyro_watch.txt'
phoe1 = pd.read_csv(path1, header=None)
phoe1

          0  1                2         3         4             5
0      1622  A   24038529601281  0.108518  0.145828   0.48719922;
1      1622  A   24038579101281  0.908532 -0.029940   0.36575907;
2      1622  A   24038628601281  0.527167  0.212940   0.12181352;
3      1622  A   24038678101281  1.825725  0.119197  -0.02519297;
4      1622  A   24038727601281  2.012146  0.476060  -0.32453227;
...     ... ..              ...       ...       ...           ...
64850  1622  S  204592157921007  0.582239  0.537623   -1.7143726;
64851  1622  S  204592207851447  0.387296  1.221523   -1.1913278;
64852  1622  S  204592257781887  0.429906  0.915792  -0.33911628;
64853  1622  S  204592307712327 -0.461720  0.319244  -0.30076677;
64854  1622  S  204592357642767 -0.537354  0.277698   -0.5724092;

[64855 rows x 6 columns]

In [41]:
phoe1[1].value_counts()

C    3604
S    3603
O    3603
I    3603
G    3603
F    3603
P    3603
R    3603
Q    3603
L    3603
J    3603
M    3603
H    3603
B    3603
K    3603
E    3603
D    3603
A    3603
Name: 1, dtype: int64

In [52]:
path1 = 'test/watch/gyro/data_1626_gyro_watch.txt'
phoe1 = pd.read_csv(path1, header=None)
phoe1[1].value_counts()

K    6013
C    3604
P    3604
D    3604
O    3604
B    3604
M    3604
G    3604
Q    3604
I    3603
F    3603
L    3603
R    3603
S    3603
J    3603
H    3603
E    3603
A    3603
Name: 1, dtype: int64

In [102]:
Acc_X = pd.DataFrame()
Acc_Y = pd.DataFrame()
Acc_Z = pd.DataFrame()

Gyr_X = pd.DataFrame()
Gyr_Y = pd.DataFrame()
Gyr_Z = pd.DataFrame()
Y = []

print(folders)
for fold in ['train', 'test']:
    for folder in ['phone', 'watch']:
        for file in tqdm(os.listdir(fold+'/'+folder+'/'+ os.listdir(fold+'/'+folder)[0])):
            path = fold+'/'+folder+'/'+ os.listdir(fold+'/'+folder)[0]+"/"+file
            acc_data = pd.read_csv(path, header=None, sep=',')
            acc_data[5] = pd.to_numeric(acc_data[5].map(lambda x: re.sub(r';', '', x)))
            file1 = file.replace('accel', 'gyro')
            path = fold+'/'+folder+'/'+ os.listdir(fold+'/'+folder)[1]+"/"+file1
            gyr_data = pd.read_csv(path, header = None, sep=',')
            gyr_data[5] = pd.to_numeric(gyr_data[5].map(lambda x: re.sub(r';', '', x)))
            for activity in acc_data[1].unique():
                Y.append(activity)
                Acc_X = Acc_X.append(pd.DataFrame(np.reshape(list(acc_data.loc[acc_data[1] == activity, 3][0:3567]) , (1, 3567))))
                Acc_Y = Acc_Y.append(pd.DataFrame(np.reshape(list(acc_data.loc[acc_data[1] == activity, 4][0:3567]) , (1, 3567))))
                Acc_Z = Acc_Z.append(pd.DataFrame(np.reshape(list(acc_data.loc[acc_data[1] == activity, 5][0:3567]) , (1, 3567))))
                Gyr_X = Gyr_X.append(pd.DataFrame(np.reshape(list(gyr_data.loc[gyr_data[1] == activity, 3][0:3567]) , (1, 3567))))
                Gyr_Y = Gyr_Y.append(pd.DataFrame(np.reshape(list(gyr_data.loc[gyr_data[1] == activity, 4][0:3567]) , (1, 3567))))
                Gyr_Z = Gyr_Z.append(pd.DataFrame(np.reshape(list(gyr_data.loc[gyr_data[1] == activity, 5][0:3567]) , (1, 3567))))

y = pd.DataFrame(Y)

  0%|                                                                                           | 0/20 [00:00<?, ?it/s]

['phone', 'watch']

100%|██████████████████████████████████████████████████████████████████████████████████| 20/20 [00:21<00:00,  1.06s/it]
100%|██████████████████████████████████████████████████████████████████████████████████| 20/20 [00:33<00:00,  1.66s/it]
100%|██████████████████████████████████████████████████████████████████████████████████| 14/14 [00:31<00:00,  2.26s/it]
100%|██████████████████████████████████████████████████████████████████████████████████| 14/14 [00:35<00:00,  2.53s/it]

In [25]:
print (len(Y))
print (Acc_X.shape)
print (Acc_Y.shape)
print (Gyr_X.shape)
print (Gyr_Z.head())

1217
(1217, 3567)
(1217, 3567)
(1217, 3567)
            0              1               2              3             4     \
0     0.8901825;    0.16223145;    -0.28401184;    -0.2416687;  -0.21313477;
0     0.5047455;   -0.29577637;    0.030258179;    0.72862244;   -1.1473999;
0   -0.03829956;     0.1359253;     0.44799805;    0.21672058;   0.16001892;
0  -0.052841187;   -0.07142639;   -0.096572876;  -0.098358154;  -0.07354736;
0  -0.007080078;  -0.007858276;  -0.0025939941;   0.004043579;  0.006286621;

            5              6              7              8               9     \
0     0.1244812;    0.55288696;    0.33229065;  -0.113098145;    -0.45516968;
0  -0.037460327;  -0.035736084;    -0.3196869;    0.44062805;      0.5332947;
0    0.22621155;  -0.011764526;   -0.18336487;   -0.08079529;    -0.21981812;
0   -0.06538391;   -0.15049744;   -0.18565369;   -0.17451477;    -0.19958496;
0  0.0057678223;  0.0063171387;  0.0048980713;  0.0035858154;  -7.6293945E-5;

   ...            3557           3558           3559           3560  \
0  ...    -0.19940186;   -0.01751709;   0.039001465;  -0.030410767;
0  ...     0.82321167;   -0.19439697;   -0.39508057;    0.43075562;
0  ...     0.36669922;    0.07685852;  -0.028900146;   0.097732544;
0  ...  -2.1362305E-4;    8.69751E-4;  5.0354004E-4;  0.0024261475;
0  ...   0.0014801025;  0.0012207031;  2.1362305E-4;  0.0011749268;

             3561           3562           3563            3564  \
0     0.19274902;    0.39746094;   -0.22045898;    -0.57310486;
0      1.0788269;    -2.2885132;    0.16627502;     -0.7150879;
0     0.12466431;    0.20205688;     0.3071289;     0.33491516;
0  -5.0354004E-4;  -0.002746582;  0.0024108887;  -3.2043457E-4;
0   0.0042877197;   0.007537842;   0.010787964;   0.0076446533;

            3565          3566
0   -0.42869568;  -0.21897888;
0     -0.467865;   0.34005737;
0    0.14808655;  -0.17669678;
0  -0.005996704;   8.69751E-4;
0  0.0076141357;  0.004562378;

[5 rows x 3567 columns]

In [26]:
Gyr_X = Gyr_X.fillna(Gyr_X.mean())
Gyr_Y = Gyr_Y.fillna(Gyr_Y.mean())
Gyr_Z = Gyr_Z.fillna(Gyr_Z.mean())

Acc_X = Acc_X.fillna(Acc_X.mean())
Acc_Y = Acc_Y.fillna(Acc_Y.mean())
Acc_Z = Acc_Z.fillna(Acc_Z.mean())

In [11]:
len(Y)

151

In [109]:
for folder in folders:
    for file in (os.listdir('train/'+folder+'/'+ os.listdir('train/'+folder)[0])):
        print (file)

data_1600_accel_phone.txt
data_1601_accel_phone.txt
data_1602_accel_phone.txt
data_1603_accel_phone.txt
data_1604_accel_phone.txt
data_1605_accel_phone.txt
data_1606_accel_phone.txt
data_1607_accel_phone.txt
data_1608_accel_phone.txt
data_1609_accel_phone.txt
data_1610_accel_phone.txt
data_1611_accel_phone.txt
data_1612_accel_phone.txt
data_1613_accel_phone.txt
data_1614_accel_phone.txt
data_1615_accel_phone.txt
data_1616_accel_phone.txt
data_1617_accel_phone.txt
data_1618_accel_phone.txt
data_1619_accel_phone.txt
data_1600_accel_watch.txt
data_1601_accel_watch.txt
data_1602_accel_watch.txt
data_1603_accel_watch.txt
data_1604_accel_watch.txt
data_1605_accel_watch.txt
data_1606_accel_watch.txt
data_1607_accel_watch.txt
data_1608_accel_watch.txt
data_1609_accel_watch.txt
data_1610_accel_watch.txt
data_1611_accel_watch.txt
data_1612_accel_watch.txt
data_1613_accel_watch.txt
data_1614_accel_watch.txt
data_1615_accel_watch.txt
data_1616_accel_watch.txt
data_1617_accel_watch.txt
data_1618_accel_watch.txt
data_1619_accel_watch.txt

In [33]:
len(np.unique(Y))

18

In [38]:
gyr_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64854 entries, 0 to 64853
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       64854 non-null  int64
 1   1       64854 non-null  object
 2   2       64854 non-null  int64
 3   3       64854 non-null  float64
 4   4       64854 non-null  float64
 5   5       64854 non-null  object
dtypes: float64(2), int64(2), object(2)
memory usage: 3.0+ MB

          0  1                2         3         4             5
0      1633  A  700321631392259 -8.618961 -0.033527    4.5306273;
1      1633  A  700321680892259 -7.342774 -2.974722    4.7532673;
2      1633  A  700321730392259 -1.386881 -5.187276     5.202809;
3      1633  A  700321779892259 -0.689133 -4.036791     4.084281;
4      1633  A  700321829392259 -4.617828 -2.732907   0.48901364;
...     ... ..              ...       ...       ...           ...
64849  1633  S  697019338580377 -1.073295 -0.204933  -0.38501665;
64850  1633  S  697019388505837  0.467077 -0.545817  -0.48728204;
64851  1633  S  697019438431297  0.801570 -0.868592  -0.81005716;
64852  1633  S  697019488356757  1.715567 -1.226521   -1.2329671;
64853  1633  S  697019538282217  1.811441 -1.753827   -1.9648038;

[64854 rows x 6 columns]

In [44]:
d = pd.to_numeric(gyr_data[5], errors='coerce')

0          4.5306273;
1          4.7532673;
2           5.202809;
3           4.084281;
4         0.48901364;
             ...
64849    -0.38501665;
64850    -0.48728204;
64851    -0.81005716;
64852     -1.2329671;
64853     -1.9648038;
Name: 5, Length: 64854, dtype: object

In [67]:
gyr_data[5][:-1]

0          4.5306273;
1          4.7532673;
2           5.202809;
3           4.084281;
4         0.48901364;
             ...
64848     -0.7184444;
64849    -0.38501665;
64850    -0.48728204;
64851    -0.81005716;
64852     -1.2329671;
Name: 5, Length: 64853, dtype: object

In [71]:
import re
df = gyr_data[5].map(lambda x: re.sub(r';', '', x))

In [73]:
gyr_data[5] = df

In [75]:
d = pd.to_numeric(gyr_data[5], errors='coerce')

In [77]:
gyr_data[5] = d
gyr_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64854 entries, 0 to 64853
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       64854 non-null  int64
 1   1       64854 non-null  object
 2   2       64854 non-null  int64
 3   3       64854 non-null  float64
 4   4       64854 non-null  float64
 5   5       64854 non-null  float64
dtypes: float64(3), int64(2), object(1)
memory usage: 3.0+ MB